@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

::-webkit-scrollbar {
    display: none;
}

*{margin: 0px; padding:0px;  font-family: "Open Sans", sans-serif;}

.item-loader {position: fixed;top: 0px; left: 0px; width: 100%; height: 100vh; background-color: white;z-index: 100;display: none;z-index: 1000;}

.profile-icon {width: 50px;}



.dev-menu {position: absolute;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 14%);
  padding: 14px;
  border-radius: 8px;
  top: 101px;
  left: 12px;
  display: none;
}

.dev-menu > h2 {font-size: 14px;font-weight: 600;}

.profile-icon > img {width: 100%; height: 100%;}

.item-loader > img {position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  padding: 12px;
  background-color: white;
  border-radius: 15px;}

  .item-loader > p {position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  font-size: 13px;
  margin-top: 30px;
}

.pwa-banner {position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh; background-color: white; z-index: 1600;display: none;;}

.pwa-img {width: 100%; object-fit: cover;margin-top: 40px;}

.pwa-wrapper {margin: auto; width: 95%;}

.profile-icon {width: 40px;height: 40px; object-fit: cover;border: solid 0.7px lightgray;border-radius: 50px;position: absolute;right: 20px;top: 42px;}

.icon-img {position: absolute;
  width: 159px;
  height: 159px;
 
  z-index: 50;
  margin-top: -165px;
  background-color: rgba(255, 255, 255, 0.38);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid 0.7px lightgray;
;display: flex;
justify-content: center;
align-items: center;
border-radius: 6px;
}

.icon-img img {width: 80px; height: 80px; object-fit: cover;position: absolute;border-radius: 50px; box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.14);}

  #homepage {margin-bottom: 90px;}

  .page-title {
    margin-bottom: -17px;
    font-size: 35px;
    margin-left: 13px;
    margin-top: 41px;
    font-weight: bold;
    
    width: 93%;
}

.item-wrapper {margin-bottom:40px;}

.domElementImportant{display: none;}
/*----------------Search--------------*/

.search-input {width: 100%;height: 37px;background-color: #EEEEF0;border: none;padding-left: 50px;font-size: 16px;border-radius: 10px;-webkit-appearance: none;}

.search-field > img {position: absolute;margin-top: 7px;margin-left: 14px;}

.search-field {width: 80%;margin-left: -50px;}

.search-wrapper {display: flex;justify-content: center;margin-top: 15px;display: none;}

/*--------------Product Styling---------------*/

.product-wrapper {height: 250px;transition: 0.2s ease;}

.product-list {width: 100%;overflow-x: scroll;white-space: nowrap;}

.product-item {width:160px ;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 7px;transition: 0.2s ease;}

.product-item > img {width: 100%; border-radius: 4px; background-color: transparent;object-fit: scale-down;border: none;height: 160px;border: solid 0.7px lightgray;}

.product-text > h3 {font-size: 14px;font-weight: 600;width: 100%;
  white-space: pre-wrap;
}


.product-text > p {font-size: 14px;width: 100%;white-space: pre-wrap;height: 40px;
  overflow: hidden;
}

.product-spacer {display: inline-block;width: 0px;;}

.product-title > h2 {font-size: 16px;font-weight: 600;}

.product-title {margin-left: 13px;;margin-top: 20px;margin-bottom: 10px;}

.product-overlay {    position: fixed;
  top: 0px;
  z-index: 50;
  width: 100%;display: none;}

/*--------------Dyn Sheet---------------*/

.dyn-sheet {position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh;background-color: white;z-index: 300;display: none;}

.title-wrapper {margin: auto;
  width: fit-content;}

.title-wrapper  > h2{ text-align:center; font-size: 16px; font-weight: 600;margin-top: 5px;width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

.sheet-title > button {float: right;color: #007AFF;font-size: 16px; font-weight: 600; border: none; background-color: transparent;margin-top: -41px;
    margin-right: 9px;
    padding: 19px;}

    .close-sheet {float: right;color: #007AFF;font-size: 16px; font-weight: 600; border: none; background-color: transparent;margin-top: -41px;
      margin-right: 9px;
      padding: 19px;}

.sheet-title {position: fixed; top: 0px;background-color: white; width: 100%;height: 44px;z-index: 100;;    padding-top: 2px;
  margin-top: -2px;border-bottom: solid 0.7px lightgray;
}

.sheet-frame {position: fixed;
  top: -87px;
  left: 0px;
  width: 100%;
  height: 112vh;
  border: none;
  background-color: white;}

/*--------------Setup Page-------------------*/

.initial {position: fixed; top: 0px; left: 0px; width: 100%;height: 100vh;z-index: 400; background-color: white;;}

.initial-text > h2 {    width: 100%;
  text-align: center;
  font-size: 6.5vw;}

.initial-text > p {width: 100%;
  text-align: center;
  font-size: 3.5vw;
  margin-top: -2px;
}

.initial-text {
  margin-top: 55px;
}

#shippingSaveBTN {display: none;}

.initial-feed {margin: auto;width: 90%;margin-top: 40px;}

.feed-item {display: inline-block;margin-bottom: 8px;}

.feed-item > img {width: 32px;margin-top: 40px;float: left;margin-left: 10px;}

.feed-text {display: inline-block;width: 81%;margin-top: 22px;margin-left: 22px;}

.feed-text > h3 {font-size: 15px;}

.feed-text > p {font-size: 13px;color: #656565;}

.wrap-fixed {position: fixed;bottom: 20px; left: 0px; width: 100%; ;}

.large-wrap {margin: auto;
  width: 90%;}

.large-confirm {width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 600;
  font-size: 16px;
  background-color: #003AFF;
  border: none;
  color: white;
  border-radius: 10px;
}

/*--------------Sign Up Form-----------------*/

.signup {position: fixed; top: 0px; left: 0px; width: 100%;height: 100vh;z-index: 400; background-color: white;display: none;}

.shipping {position: fixed; top: 0px; left: 0px; width: 100%;height: 100vh;z-index: 400; background-color: white;display: none;}

.signup-wrapper {margin: auto;width: 90%;}

.signup-wrapper > h1 {font-size: 35px;;font-weight: bold;margin-top: 40px;}

.text-input {border: solid 0.7px lightgray;
  width:100%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 7px;
  padding-left: 12px;
}



.halfed > label {font-weight: 600; font-size: 14px; ;}

.form > label {font-weight: 600; font-size: 14px;}

.halfed {display: inline-block;
  width: 44%;}

.first-half {margin-right: 22px;
}

.flattened {width: 95%;}

.button-wrapper > button {width: 48%;}

.button-wrapper > button:first-of-type {margin-right: 6px;}

.button-wrapper > button:last-of-type {background-color: transparent; border: none; color: black;}


.form {margin: auto;width: 90%;margin-top: 30px;}

.halfed-input {margin-bottom: 15px;}

.select-input {width: 107%;}

.flattened {margin-bottom: 15px;}

.form-submit {margin-top: 5px;}

.ringImg {object-fit: scale-down !important;}

/*--------------Profile Overlay----------------*/

.user-options {margin: auto; width: 92%;margin-top:35px;}

.user-button {width: 100%; margin-bottom: 15px;background-color: transparent;border: none;border-radius:5px;color: black;border:solid 0.7px rgb(223 223 223);}

.user-button > h3 {    width: 100%;
  text-align: left;
  margin-left: 20px;
  margin-top: 16px;
  font-size: 17px;
}

#setupSaveBTN {display: none;}

.user-button > p {width: 100%; text-align: left;margin-left: 20px;padding-bottom: 16px;font-size: 13px;}

.user-close {    float: right;
  color: #007AFF;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  margin-top: -16px;
  margin-right: 9px;
  padding: 19px;
  position: relative;
  z-index: 1500;


}


.profile-overlay {position: fixed; top: 0px; left: 0px; width: 100%;height: 100vh;background-color: white; z-index: 150;display: none;}

.user-icon > img  {width: 90px;height: 90px; object-fit: cover;border-radius: 150px;    border: solid 0.7px lightgray;
}

.user-icon {display: flex;justify-content: center;margin-top: 45px;}

.profile-text > h3 {font-size: 19px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.profile-text > p {font-size: 15px;width: 100%; text-align: center ;}

/*--------------Cart Styling-----------------*/

.cart-frame {position: fixed;
  top: -143px;
  left: 0px;
  width: 100%;
  height: 120vh;
  border: none;
  background-color: white;
  z-index: 98;}

#cartpage {display: none;}

#rewardpage {display: none;}

.cartRewarder {    position: fixed;
  bottom: 81px;
  z-index: 150;
  background-color: transparent;
  width: 100%;}

.cartRewarder > button {    background-color: #F1F4FF;
  border: none;
  width: 90px;
  padding-top: 8px;
  padding-bottom: 8px;color: #003AFF;font-weight: 600;border-radius: 50px;}

.rewarder > p {font-size: 13px;;}

.rewarder > h3 {font-size: 14;font-weight: 600;}

.rewardwrapper {width: 55%;border: solid 1px lightgray;padding: 13px;border-radius: 5px;padding-left: 20px;}

.redeemBtn {font-weight: 600;color: #003AFF;padding-left: 20px;padding-right: 20px;margin-left: 12px;background-color: transparent;border: solid 1px lightgray;border-radius: 5px;font-size: 14px;}

.rewardPane {display: flex;justify-content: center;margin-top: 40px;}

.rewardwrapper > p {font-size: 12px;}

.rewarddesc {margin: auto;width: 90%;margin-top: 30px;}

.rewarddesc > h3 {font-size: 14px;font-weight: 600;}

.rewarddesc > p {font-size: 13px;margin-bottom: 26px;}

.rewardwrapper > h3 {font-size: 15px;font-weight: 600;}

.cart-empty {position: absolute;
  top: 92px;
  height: 78vh;
  background-color: white;
  width: 100%;
  left: 0px;
  z-index: 150;}

.cart-empty > h3 {width: 100%; font-size: 15px; font-weight: normal;text-align: center;margin-top: 30px;}

.cart-confirm {position: fixed; bottom: -70px; left: 0px; width: 100%;z-index: 150;transition: 0.3s ease}

#paymentpage {display: none;}

.confirm-wrapper {
  
  margin: auto;
  width: 90%;
  height: 64px;
  border-radius: 10px;
  background-color:white;;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.062);
    background-color: rgba(255, 255, 255, 0.918);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.confirm-text {color: black;display: inline-block;vertical-align: top;margin-top: 13px;}

.confirm-text > h4 {font-size: 15px;}

.confirm-text > p {font-size: 13px;
  width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

.confirm-wrapper > img {display: inline-block;padding: 20px;}

/*--------------View All-----------------*/

.view-all-wrapper {position: fixed;top: 0px;left: 0px; width: 100%; height: 100vh;background-color: white;overflow: scroll;z-index: 150;display: flex;margin-left: 10px;}

.close-all-btn {position: fixed; top: -4px;right: 18px; z-index: 151;  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  color: #007AFF;
  background-color: transparent;
  border: none;display: none;}

.view-all-item {white-space: initial;
  overflow: auto;margin-top: 54px;}

  .view-all-title {margin-left: -21px}

.view-all-title > h2 {     text-align: center;
  font-size: 16px;
  font-weight: 600;
 padding-top: 5px;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;position: fixed;z-index: 151;background-color: white;top: 0px;padding-bottom: 20px;left: 0px;border-bottom: solid 0.7px lightgray;}

.view-all-btn {
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  color:#007AFF;
  background-color: transparent;
  border: none;
  float: right;
  margin-top: -8px;
  margin-right: 10px;
z-index: 100;
position: relative;

}

.ringCenter {margin: auto;
  width: 356px;}

/*--------------Bottom Navigation---------------*/

.bottom-navigation {
    position: fixed;
    bottom: -15px;
    left: 0px;
    width: 100%;
    height:70px;
    border-top: solid 0.7px lightgray;
    padding-bottom: 5px;
    background-color: white;
    z-index: 100;
    
  }
  
  .bottom-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 7px;
  }
  
  .bottom-item {
    margin-left: 3%;
    margin-right: 3%;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    opacity: 0.5;
    border: none;
  }
  
  .default {
    opacity: 1 ;
  }
  
  .bottom-item > p {
    color: black;
    position: relative;
    font-size: 11px;
    width: 60px;
    margin-top: -2px;
  }
  
  .bottom-icon > img {
    width: 26px;
  }
  
  @media screen and (max-height: 600px) {
    .bottom-navigation {display: none;}
  }